@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #333333;
}

/* Hide scrollbars while maintaining scroll functionality */
.insights-scrollable {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.insights-scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
